.block-title
	margin: 100px 0 80px
	text-align: center
	@media (max-width: 767px)
		margin: 60px 0 40px
	&__title
		color: #0094f8
		font-size: 2.25rem
		font-weight: 300
		line-height: 43px
		margin-bottom: 21px
		@media (max-width: 767px)
			color: #0094f8
			font-size: 1.375rem
			line-height: 27px
	&__subtitle
		color: #a6abb2
		font-size: 1rem
		font-weight: 400
		line-height: 25px
		max-width: 50%
		margin: 0 auto
		@media (max-width: 767px)
			max-width: 85%

body
	> *
		&:nth-child(even)
			.block-title
				&__title
					color: #171a26
