@font-face {
    font-family: "Open Sans Light";
    src: url("../font/OpenSans-LightItalic.eot"); /* IE9 */
    src: url("../font/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-LightItalic.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-LightItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-LightItalic.svg#Open Sans Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


