@font-face {
    font-family: "Open Sans Extrabold";
    src: url("../font/OpenSans-ExtraBoldItalic.eot"); /* IE9 */
    src: url("../font/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-ExtraBoldItalic.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-ExtraBoldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-ExtraBoldItalic.svg#Open Sans Extrabold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


