@font-face {
    font-family: "Open Sans Semibold";
    src: url("../font/OpenSans-Semibold.eot"); /* IE9 */
    src: url("../font/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-Semibold.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-Semibold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-Semibold.svg#Open Sans Semibold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


