.slick
	z-index: 1
	width: 100%
	height: 100vh
	overflow: hidden
	margin: 0
	padding: 0
	min-height: 480px
	@media (max-width: 991px)
		height: 680px
		text-align: center
	@media (max-width: 767px)
		height: 100vh
	&:before
		display: none !important
	&.slick-dotted
		&.slick-slider
			margin: 0
	.slick-list
		height: 100%
	.slick-track
		height: 100%
	.slick-dots
		position: absolute
		bottom: 25px
		z-index: 10
		li
			width: 28px
			height: 28px
			padding: 10px
			position: relative
			button
				position: absolute
				width: 6px
				height: 6px
				top: 50%
				left: 50%
				border-radius: 50%
				transform: translate(-50%, -50%)
				background: rgba(255, 255, 255, .3)
				display: block
				padding: 0
				&:before
					display: none
			svg
				display: none
				stroke-dasharray: 75
				stroke-dashoffset: 75
			&.slick-active
				position: relative
				button
					background: #fff
				svg
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					object-fit: contain
					display: block
				&:before
					display: none !important
	.slick-prev
		display: none !important
	.slick-next
		width: auto
		height: auto
		right: 55px
		padding-right: 45px
		opacity: 0.5
		color: #fff
		font-size: 0.875rem
		font-weight: 700
		line-height: 18px
		text-transform: uppercase
		&:after
			content: ""
			display: block
			background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAOCAYAAAASVl2WAAAAYElEQVQoU43RsQ2AMAxE0W8GoEBiP2pYCrEeEgULXBQKpFjGxPXT5eyYpBUYgMPMbtyYpA2YgQvYPapgBBZgipDVxAw9IEMv+ES+tXvubBKClBaEZbtKpmv+Hqrn1OlnFVEGTPWnOGDyAAAAAElFTkSuQmCC) no-repeat 50% 50%
			position: absolute
			right: 0
			top: 50%
			width: 8px
			height: 14px
			margin-top: -7px
		@media (max-width: 991px)
			display: none !important
		&:before
			display: none
		&:hover
			opacity: 1
	.slick-slide
		position: relative
		z-index: 1
		overflow: hidden
		img
			position: absolute
			top: 0
			left: 0
			z-index: -1
			object-fit: cover
			max-width: none
			min-width: 100%
			min-height: 100%
			@media (max-width: 1199px)
				min-height: 100%
				// max-width: none
				width: auto
		fixgure
			// height: calc(100% - 166px)
			height: 100%
			display: flex
			flex-wrap: wrap
			justify-content: flex-start
			align-content: center
			align-items: center
			padding: 83px 0
			// margin-top: 83px
			// margin-bottom: 83px
			@media (max-width: 767px)
				padding: 60px 0
			&:before
				content: ""
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				background-color: rgba(0, 0, 0, .5)
	.slick__slide
		&__title
			color: #fff
			font-size: 0.75rem
			font-weight: 600
			text-transform: uppercase
			margin-bottom: 30px
			letter-spacing: 1.8px
			@media (max-width: 767px)
				margin-bottom: 18px
		&__subscribe
			color: #fff
			font-size: 2.75rem
			font-weight: 300
			line-height: 3.313rem
			margin-bottom: 60px
			@media (max-width: 767px)
				// color: #fff
				font-size: 1.625rem
				// font-weight: 300
				line-height: 32px
				margin-bottom: 45px
		&__desc
			color: #fff
			font-size: 0.875rem
			font-weight: 400
			line-height: 1.375rem
			margin-bottom: 42px
			@media (max-width: 767px)
				margin-bottom: 25px
		&__link
			width: 170px
			height: 44px
			border-radius: 22px
			border: 2px solid #0094f8
			display: inline-block
			text-align: center
			line-height: 40px
			color: #ffffff
			font-size: 0.875rem
			font-weight: 600
			text-decoration: none !important
			outline: 0
			&:hover
				background: #0094f8

.slick
	&[dir='rtl']
		.slick-next
			right: auto
			left: 55px
			padding-right: 0
			padding-left: 45px
			&:after
				transform: scale(-1, 1)
				right: auto
				left: 0
