.footer
	padding: 54px 0 27px
	@media (max-width: 767px)
		text-align: center
	&__title
		color: #0e1321
		font-size: 0.875rem
		font-weight: 700
		line-height: 18px
		text-transform: uppercase
		margin-bottom: 40px
		@media (max-width: 767px)
			margin-top: 43px
			margin-bottom: 25px
	&__text
		color: #a6acb4
		font-size: 0.875rem
		font-weight: 400
		line-height: 22px
	&__social
		margin-top: 22px
		a
			font-family: 'fontello'
			color: #a5adb4
			font-size: 12px
			display: inline-block
			margin-right: 10px
			text-decoration: none !important
			&:hover
				color: #171a26
	&__bottom
		margin-top: 40px
	&__copyright
		color: #c7ccdc
		font-size: 0.75rem
		font-weight: 400
		line-height: 16px
		@media (max-width: 991px)
			text-align: center
	&__design
		color: #c7ccdc
		font-size: 0.75rem
		font-weight: 400
		line-height: 16px
		text-align: right
		@media (max-width: 991px)
			text-align: center
		img
			margin-left: 5px
			@media (max-width: 991px)
				display: block
				margin: 7px auto
	&__newsletter
		@media (max-width: 991px)
			text-align: center
			padding-top: 40px
		@media (max-width: 767px)
			padding-top: 0
	form.wpcf7-form
		position: relative
		margin-bottom: 15px
		input[type=email]
			// background-color: #c4dffd
			border: none
			height: 44px
			//border-bottom: 1px solid #c4dffd
			width: 100%
			padding-right: 170px
			outline: 0
		input[type=submit]
			border: none
			width: 150px
			height: 38px
			background: #0094f8
			border-radius: 19px
			color: #ffffff
			font-size: 0.875rem
			font-weight: 600
			line-height: 22px
			position: absolute
			top: 0
			right: 0
