.how-it-works
	background-color: #0094f8 !important
	.container
		position: relative
	.block-title
		margin-bottom: 44px
		&__title
			color: #fff !important
	&__circle
		background: url(img/how-it-works__background.png) no-repeat 50% 50%
		position: relative
		padding: 10px 0
		&__dot
			position: absolute
			transform: translate(-50%, -50%)
			&:before
				content: ""
				display: block
				width: 16px
				height: 16px
				border-radius: 50%
				background: #33a9f9
				transition: all .75s
			&_top
				// top: 12px
				left: 50%
				// top: 2px
				top: 50%
				margin-top: calc(-25% + 8px)
			&_bottom
				// bottom: -20px
				// bottom: 0
				top: 50%
				left: 50%
				margin-top: calc(25% - 18px)
				color: #cce1ff
				font-size: 0.875rem
				font-weight: 700
				line-height: 1.125rem
				text-transform: uppercase
				padding-bottom: 43px
				&:before
					// margin: 0 auto
					position: absolute
					bottom: 13px
					left: 50%
					// box-shadow: #0094f8
					background: #fff
					box-shadow: 0 0 0 12px #0094f8, 0 0 0 13px rgba(#fff, .25)
					transform: translateX(-50%)
					// padding: 13px
			&_left
				// left: calc(50% - 283px)
				left: calc(25% + 8px)
				top: 50%
			&_right
				// left: calc(50% + 283px)
				left: calc(75% - 8px)
				top: 50%
			// &:hover
			// 	background: #fff
			// 	box-shadow: 0 0 0 25px #0094f8, 0 0 0 25px #fff
		&__block
			width: 50%
			float: left
			display: block
			position: relative
			overflow: hidden
			// height: 285px
			height: 17.8rem
			// display: flex
			// flex-wrap: wrap
			// align-content: center
			// justify-content: flex-start
			padding-top: 70px
			&__title
				// color: #fff
				color: #cce1ff
				font-size: 0.875rem
				font-weight: 700
				line-height: 1.125rem
				text-transform: uppercase
				margin-bottom: 25px
				width: 50%
			&__desc
				color: #cce1ff
				font-size: 0.875rem
				font-weight: 400
				line-height: 1.375rem
				width: 50%
			&__num
				background: #33a9f9
				color: #0094f8
				font-size: 1.5rem
				font-weight: 400
				line-height: 1.5rem
				// width: 43px
				// height: 43px
				width: 3rem
				height: 3rem
				border-radius: 50%
				text-align: center
				line-height: 3rem
				box-shadow: 0 0 0 0.5rem #0094f8, 0 0 0 0.675rem #33a9f9
				position: absolute
				z-index: 1
				color: #fff
				transition: all .75s
				transform: translate(-50%, -50%)
				position: absolute
			&__circle
				position: absolute
				// width: 570px
				// height: 570px
				border-radius: 50%
				border: 3px solid #33a9f9
				transition: all .75s
				// width: 100%
				padding-left: 99%
				padding-top: 99%
			&:nth-child(1)
				.how-it-works__circle__block
					&__circle
						transform: translate(50%, 50%)
						bottom: 0
						right: 0
					&__num
						top: 100%
						left: 100%
						margin-top: calc( 0px - (50%*0.707106) )
						margin-left: calc( 0px - (50%*0.707106) )
				&:hover
					& ~ .how-it-works__circle__dot_top, & ~ .how-it-works__circle__dot_left
						&:before
							background: #fff
			&:nth-child(2)
				// justify-content: flex-end
				text-align: right
				.how-it-works__circle__block
					&__circle
						transform: translate(0, 50%)
						bottom: 0
						left: -50%
					&__num
						top: 100%
						left: 0
						margin-top: calc( 0px - (50%*0.707106) )
						margin-left: calc(50%*0.707106)
					&__title
						margin-left: 50%
					&__desc
						margin-left: 50%
				&:hover
					& ~ .how-it-works__circle__dot_top, & ~ .how-it-works__circle__dot_right
						&:before
							background: #fff
			&:nth-child(4)
				// align-content: flex-end
				.how-it-works__circle__block
					&__circle
						transform: translate(0, -50%)
						top: 0
						right: -50%
					&__num
						top: 0
						left: 100%
						margin-top: calc(50%*0.707106)
						margin-left: calc( 0px - (50%*0.707106) )
				&:hover
					& ~ .how-it-works__circle__dot_bottom, & ~ .how-it-works__circle__dot_left
						&:before
							background: #fff
					& ~ .how-it-works__circle__dot_bottom
						&:before
							box-shadow: 0 0 0 12px #0094f8, 0 0 0 13px #fff
			&:nth-child(3)
				float: right
				// padding-left: calc(25% + 15px)
				// justify-content: flex-end
				// align-content: flex-end
				text-align: right
				.how-it-works__circle__block
					&__circle
						transform: translate(0, -50%)
						top: 0
						left: -50%
					&__num
						top: 0
						left: 0
						margin-top: calc(50%*0.707106)
						margin-left: calc(50%*0.707106)
					&__title
						margin-left: 50%
					&__desc
						margin-left: 50%

				&:hover
					& ~ .how-it-works__circle__dot_bottom, & ~ .how-it-works__circle__dot_right
						&:before
							background: #fff
					& ~ .how-it-works__circle__dot_bottom
						&:before
							box-shadow: 0 0 0 12px #0094f8, 0 0 0 13px #fff
			&:hover
				.how-it-works__circle__block
					&__circle
						border: 3px solid #fff
					&__title
						color: #fff
					&__num
						background: #fff
						box-shadow: 0 0 0 8px #0094f8, 0 0 0 11px #fff
						color: #0094f8
		.container
			&:not(:hover)
				.how-it-works__circle__block
					&:nth-child(1)
						.how-it-works__circle__block
							&__circle
								border: 3px solid #fff
							&__title
								color: #fff
							&__num
								background: #fff
								box-shadow: 0 0 0 8px #0094f8, 0 0 0 11px #fff
								color: #0094f8
						& ~ .how-it-works__circle__dot_top, & ~ .how-it-works__circle__dot_left
							&:before
								background: #fff
	&__mobile
		overflow: hidden
		//width: 100%
		&__block
			text-align: center
			// text-align: justify
			color: #33a9f9
			transition: all .75s
			z-index: 1
			&.slick-active
				color: #fff
				z-index: 10
				position: relative
				.how-it-works__mobile__block
					&__num
						box-shadow: 0 0 0 8px #0094f8, 0 0 0 11px #fff
						background: #fff
			&__num
				font-size: 1.5rem
				font-weight: 400
				line-height: 1.5rem
				width: 3rem
				height: 3rem
				border-radius: 50%
				text-align: center
				line-height: 3rem
				z-index: 1
				color: #fff
				transition: all .75s
				margin: 12px auto
				background: #33a9f9
				box-shadow: 0 0 0 8px #0094f8, 0 0 0 11px #33a9f9
				color: #0094f8
				// color: inherit
				z-index: 5
				position: relative
			&__line
				// width: 100%
				color: inherit
				height: 3px
				background: currentColor
				position: relative
				//margin: 0 -15px
				top: calc(1.5rem + 12.5px)
				z-index: 0
				&:before, &:after
					content: ""
					width: 15px
					height: 15px
					border-radius: 50%
					// background: #fff
					position: absolute
					left: 0
					top: 50%
					transform: translate(-50%, -50%)
					color: inherit
					background: currentColor
				&:after
					left: 100%
			&__title
				// color: #fff
				color: inherit
				font-size: 0.875rem
				font-weight: 700
				line-height: 1.125rem
				text-transform: uppercase
				// margin-top: 30px
				@media(max-width: 991px)
					width: 75%
					margin: 30px auto 0
				@media(max-width: 767px)
					width: 100%
			&__desc
				// color: #cce1ff
				color: inherit
				font-size: 0.875rem
				font-weight: 400
				line-height: 1.375rem
				// margin-top: 25px
				margin-bottom: 150px
				@media(max-width: 991px)
					width: 75%
					margin: 25px auto 0
				@media(max-width: 767px)
					width: 100%
					margin-bottom: 50px
			&:first-child
				.how-it-works__mobile__block
					&__line
						margin-left: 0
			&:last-child
				.how-it-works__mobile__block
					&__line
						margin-right: 0
		//> div
		//	width: 400%
