.contact-us
	padding-bottom: 0
	&__form-box
		padding: 0
	&__map
		// height: 656px
		height: 0
		padding-top: 57%
		img
			position: absolute
			left: -19px
			top: 8px
		&__dot
			background: #0094f8
			position: absolute
			border-radius: 50%
			z-index: 10
			width: 9px
			height: 9px
			&:before, &:after
				content: ""
				position: absolute
				// top: 50%
				// left: 50%
				animation-name: mapDots
				animation-duration: 2s
				animation-iteration-count: infinite
				width: 100%
				height: 100%
				background: #0094f8
				border-radius: 50%
				z-index: 1
				// transform-origin: 50% 50%
				// transform: translate(-50%, -50%)
			&:after
				animation-delay: 0.5s
				z-index: 2
		img
			width: 100%
