.who-is-it-for
	&__block
		width: 50%
		height: 16.875rem
		position: relative
		float: left
		overflow: hidden
		z-index: 1
		color: #fff !important
		text-decoration: none !important
		font-size: 0.875rem
		text-align: center
		padding-top: 130px
		@media (max-width: 767px)
			width: 100%
		&__title
			font-weight: 700
			text-transform: uppercase
		&__desc
			font-weight: 400
			line-height: 22px
			display: none
			width: 200px
			margin: 25px auto 0
		&:before
			content: ""
			height: 5px
			width: 0
			background-image: linear-gradient(to right, #e76d00 0%, #ffb300 100%)
			display: block
			position: absolute
			bottom: 0
			right: 0
			transition: all .75s
		&:after
			content: ""
			width: 100%
			height: 100%
			background: #000
			position: absolute
			top: 0
			left: 0
			z-index: -1
			opacity: .4
			transition: all .75s
		&:hover, &.mobile-active
			padding-top: 90px
			&:before
				width: 100%
			&:after
				opacity: .6
			.who-is-it-for__block
				&__desc
					display: block
			img
				transform: scale(1.1) translate(-50%, -50%)
		img
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			// left: 0
			// top: 0
			z-index: -2
			transition: all .75s
			width: 100%
			height: 100%
			object-fit: cover
