.who-we-are
	padding-bottom: 179px
	overflow: hidden
	width: 100%
	@media (max-width: 1199px)
		padding-bottom: 20px
	&__imgbox
		position: relative
		padding-bottom: 100px
		@media (max-width: 767px)
			padding-bottom: 30px
		> div
			// width: 570px
			width: 85%
			position: relative
			z-index: 1
			float: left
			@media (max-width: 991px)
				width: 100%
				float: none
			&:last-child
				position: absolute
				// width: 350px
				// top: 230px
				// left: 270px
				width: 50%
				bottom: 0
				right: 10%
				z-index: 2
				@media (max-width: 991px)
					display: none
		img
			width: auto
			height: auto
			max-width: 100%
		.slick
			height: auto
			min-height: 0
			.slick-slide
				fixgure
					height: auto
					width: auto
					display: block
					padding: 0
					img
						min-width: 0
						min-height: 0
						width: 100%
						position: static
	&__list
		.button
			@media (max-width: 991px)
				margin-left: 27px
			@media (max-width: 767px)
				margin: 0 auto
				display: block
				width: 160px
		ul
			list-style: none
			padding: 0
			margin-left: -27px
			@media (max-width: 991px)
				margin-left: 0
			li
				color: #171a26
				font-size: 0.875rem
				font-weight: 400
				line-height: 22px
				margin-bottom: 20px
				position: relative
				padding-left: 30px
				@media (max-width: 991px)
					margin-bottom: 10px
				&:before
					content: ""
					display: block
					width: 5px
					height: 5px
					border-radius: 50%
					position: absolute
					top: 6px
					left: 0
					background-color: #0094f8
