
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-attach:before { content: '\e802'; } /* '' */
.icon-file:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */