@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Bold.eot"); /* IE9 */
    src: url("../font/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-Bold.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-Bold.svg#Open Sans") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 700;
}



@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-BoldItalic.eot"); /* IE9 */
    src: url("../font/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-BoldItalic.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-BoldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-BoldItalic.svg#Open Sans") format("svg"); /* iOS 4.1- */
    font-style: italic;
    font-weight: 700;
}



@font-face {
    font-family: "Open Sans Extrabold";
    src: url("../font/OpenSans-ExtraBold.eot"); /* IE9 */
    src: url("../font/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-ExtraBold.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-ExtraBold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-ExtraBold.svg#Open Sans Extrabold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 900;
}



@font-face {
    font-family: "Open Sans Extrabold";
    src: url("../font/OpenSans-ExtraBoldItalic.eot"); /* IE9 */
    src: url("../font/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-ExtraBoldItalic.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-ExtraBoldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-ExtraBoldItalic.svg#Open Sans Extrabold") format("svg"); /* iOS 4.1- */
    font-style: italic;
    font-weight: 900;
}



@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Italic.eot"); /* IE9 */
    src: url("../font/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-Italic.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-Italic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-Italic.svg#Open Sans") format("svg"); /* iOS 4.1- */
    font-style: italic;
    font-weight: normal;
}



@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Light.eot"); /* IE9 */
    src: url("../font/OpenSans-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-Light.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-Light.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-Light.svg#Open Sans Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 300;
}



@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-LightItalic.eot"); /* IE9 */
    src: url("../font/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-LightItalic.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-LightItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-LightItalic.svg#Open Sans Light") format("svg"); /* iOS 4.1- */
    font-style: italic;
    font-weight: 300;
}



@font-face {
    font-family: "Open Sans";
    src: url("../font/OpenSans-Regular.eot"); /* IE9 */
    src: url("../font/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-Regular.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-Regular.svg#Open Sans") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}



@font-face {
    font-family: "Open Sans Semibold";
    src: url("../font/OpenSans-Semibold.eot"); /* IE9 */
    src: url("../font/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-Semibold.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-Semibold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-Semibold.svg#Open Sans Semibold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: 600;
}



@font-face {
    font-family: "Open Sans Semibold";
    src: url("../font/OpenSans-SemiboldItalic.eot"); /* IE9 */
    src: url("../font/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/OpenSans-SemiboldItalic.woff") format("woff"), /* chrome, firefox */
    url("../font/OpenSans-SemiboldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/OpenSans-SemiboldItalic.svg#Open Sans Semibold") format("svg"); /* iOS 4.1- */
    font-style: italic;
    font-weight: 600;
}


