.what-we-offer
	padding-bottom: 34px
	&__offer-block
		border: 1px solid #f0f1f2
		padding: 55px 30px 45px
		margin-bottom: 30px
		height: 270px
		transition: all 0.3s
		&__img
			margin-bottom: 25px
			width: 40px
			height: 40px
			svg
				fill: #0094f8
				max-width: 100%
				max-height: 100%
				object-fit: cover
		&__title
			color: #171a26
			font-size: 0.875rem
			font-weight: 700
			line-height: 18px
			text-transform: uppercase
			height: (18px * 3)
			margin-bottom: 25px
			transition: all .75s
		&__text
			color: #cce1ff
			font-size: 0.875rem
			font-weight: 400
			line-height: 22px
			margin-top: 25px
			display: none
		&__plus
			font-size: 0
			position: relative
			width: 15px
			height: 15px
			&:before, &:after
				content: ""
				width: 15px
				height: 1px
				background: #0094f8
				display: block
				position: absolute
				top: 0
				left: 0
			&:after
				transform: rotate(90deg)

		&:hover, &.mobile-active
			box-shadow: 0 1.563rem 3.75rem rgba(0, 148, 248, 0.2)
			background: #0094f8
			padding-top: 45px
			@media (max-width: 767px)
				padding-top: 20px
				padding-bottom: 20px
				display: flex
				flex-wrap: wrap
				align-content: center
				align-items: center
			.what-we-offer__offer-block
				&__img
					display: none
				&__title
					color: #fff
					height: auto
					margin-bottom: 0
				&__text
					margin-top: 10px
					display: block
				&__plus
					display: none
	&__more
		a
			padding: 120px 0
			color: #e97300
			font-size: 0.875rem
			font-weight: 700
			line-height: 30px
			text-transform: uppercase
			text-align: center
			display: block
			text-decoration: none !important
			@media (max-width: 767px)
				padding: 0
			&:after
				content: ""
				background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAYAAACXDi8zAAAAVElEQVQYV2N8WcxwnOE/w8s3fAxh2g0MvxiggPFlEUM6AyPDDEYGhs2veRlCYJKMIAUvixgyGRgZpiFLgiWwScIlkCUZ/jMsIyyBbg9uy3E6F5cHAaT8NsFZqxpCAAAAAElFTkSuQmCC)
				background-repeat: no-repeat
				background-position: 0 50%
				width: 20px
				height: 10px
				padding-left: 0
				display: inline-block
				margin-left: 12px
				transition: all .75s
			&:hover
				&:after
					background-position: 7px 50%
