.ya-share2
	color: #0094f7
	&__item
		border: 2px solid #0094f7
		width: 80px
		height: 35px
		border-radius: 17px
		display: inline-block
		margin-right: 5px
		text-align: center
		cursor: pointer
		&:hover
			background: #0094f7
			color: #fff
		&:before
			// content: ""
			font-family: "fontello"
			font-size: 14px
			line-height: 31px
			// color: #0094f7
		&_service
			&_facebook
				&:before
					content: "\e800"
			&_twitter
				&:before
					content: "\e804"
				.ya-share2__badge
					&:before
						content: "0"
			&_linkedin
				&:before
					content: "\e801"
	&__link
		text-decoration: none !important
		color: inherit !important
		&:before
			content: ""
			background: #a6abb2
			width: 3px
			height: 3px
			display: inline-block
			border-radius: 50%
			vertical-align: middle
			margin: 14px 8px
	&__list
		list-style: none
		padding: 0
	&__title
		font-size: 0
	&__badge
		// color: #0094f7
		font-size: 0.75rem
		font-weight: 400
		line-height: 31px
		text-transform: uppercase
