form.wpcf7-form
	b
		// width: 255px
		width: 16rem
		color: #171a26
		font-size: 0.875rem
		font-weight: 700
		line-height: 18px
		text-transform: uppercase
		margin-bottom: -6px
		display: block
	input[type=submit]
		// width: 130px
		height: 38px
		line-height: 38px
		border-radius: 19px
		background-color: #9f9f9f
		background-image: linear-gradient(to right, #ffb300 0%, #e76d00 100%)
		display: inline-block
		color: #fff !important
		font-size: 0.875rem
		font-weight: 600
		text-align: center
		transition: all .75s
		text-decoration: none !important
		border: none
		outline: 0
		padding: 0 29px
		@media (max-width: 767px)
			width: 100%
			padding: 0
		&:hover
			background-image: linear-gradient(to right, #e76d00 0%, #ffb300 100%)
	.wpcf7-form-control-wrap
		display: block
		outline: 0
		input[type=text], input[type=email], input[type=tel]
			display: block
			background-color: transparent
			border: none
			// border-bottom: 1px solid #cbdefc
			width: 100%
			padding: 15px 0
			// margin-bottom: 20px
			outline: 0
			color: #c7cbda
			font-size: 0.875rem
			font-weight: 400
		input[type=file]
			width: 100%
			opacity: 0
		textarea
			@extend input[type=text]
			resize: none
			margin-bottom: 45px
			height: 55px
			max-height: 200px
			overflow: hidden
			transition: height 0.2s
			&.max
				overflow: auto
		br
			display: none
		&:before, &:after
			content: ""
			height: 1px
			position: absolute
			bottom: 0
			left: 0
			transition: all .75s
		&:before
			background: #cbdefc
			width: 100%
		&:after
			background: #0094f8
			width: 0
		&.dirty
			input, textarea
				color: #171a26
		&.focus, &.dirty
			color: #171a26
			&:before
				width: 0
			&:after
				width: 100%
		&.error
			&:before
				width: 100%
				background: #e83700
			&:after
				width: 0
	.wpcf7-not-valid-tip
		color: #e83700
		font-size: 12px
		font-weight: 400
		line-height: 22px
	.wpcf7-form-control-wrap.user-file
		// background: url(img/contact-us__file.png) no-repeat 0 50%
		//padding: 7px 0
		position: relative
		height: 38px
		cursor: pointer
		&:before, &:after
			display: none !important
		&:hover
			.cover
				color: #171a26
		input
			opacity: 0
			position: absolute
			width: 100%
			height: 100%
			cursor: pointer
			top: 0
			left: 0
		.cover
			color: #c7cbda
			font-size: 0.875rem
			font-weight: 400
			line-height: 38px
			&:before
				content: "\e802"
				font-family: "fontello"
				color: #c7cbda
				font-size: 0.875rem
				line-height: 38px
				margin-right: 10px
			&.selected
				color: #171a26
				&:before
					content: "\e803"
