.why-ukraine
	padding-bottom: 0
	margin-bottom: -10px
	&__list
		@media (max-width: 767px)
			padding: 0
		&__icon
			position: absolute
			left: 4px
			top: 0
			svg
				width: 32px
				path
					stroke: #0094f8
					fill: #0094f8
		&__title
			color: #171a26
			// font-size: 0.875rem
			font-weight: 700
			line-height: 0.875rem
			text-transform: uppercase
			margin-bottom: 20px
		&__text
			color: #797a80
			// font-size: 0.875rem
			font-weight: 400
			line-height: 22px
		ul
			list-style: none
			padding: 0
			li
				padding-left: 96px
				font-size: 0.875rem
				position: relative
				margin-bottom: 60px
				@media (max-width: 767px)
					padding-left: 55px
	&__map
		position: relative
		height: 588px
		// background: #f00
		img
			width: calc(100% + 157px)
			position: absolute
			left: -102px
			top: -55px
		&__dot
			background: #0094f8
			position: absolute
			border-radius: 50%
			z-index: 10
			&:before, &:after
				content: ""
				position: absolute
				// top: 50%
				// left: 50%
				animation-name: mapDots
				animation-duration: 2s
				animation-iteration-count: infinite
				width: 100%
				height: 100%
				background: #0094f8
				border-radius: 50%
				z-index: 1
				// transform-origin: 50% 50%
				// transform: translate(-50%, -50%)
			&:after
				animation-delay: 0.5s
				z-index: 2
	// 	svg
	// 		circle
	// 			fill: #f00
	// 			box-shadow: 0 0 0 11px #33a9f9
				// &:before, &:after
					// content: ""
					// background: #f00
