.breadcrumbs
	padding: 30px 0
	// margin-bottom: 100px
	background: #f9fbff
	margin-top: 80px
	@media (max-width: 991px)
		margin: 0
	&__item
		font-size: 0.75rem
		font-weight: 400
		line-height: 0.75rem
		a
			text-decoration: none !important
			span
				color: #a6abb2
			&:after
				content: ""
				background-color: #a6abb2
				display: inline-block
				width: 3px
				height: 3px
				margin: 4px 25px
				border-radius: 50%
				@media (max-width: 767px)
					margin: 4px 10px
			&:hover
				span
					color: #171a26
		span
			color: #171a26
