.header
	padding: 0
	height: 80px
	background: #fff
	transition: all .75s
	position: fixed
	top: 0
	z-index: 20
	width: 100%
	@media (max-width: 767px)
		height: 60px
	.row
		font-size: 0
	&:after
		content: ""
		width: 100%
		height: 1px
		display: block
		background: rgba(190, 190, 190, 0.35)
		position: absolute
		bottom: 0
	&__logo
		display: inline-block
		vertical-align: middle
		float: none
		a
			display: block
			img
				max-width: 100%
				height: auto
				margin-top: -8px
	&__menu
		display: inline-block
		vertical-align: middle
		float: none
		@media (max-width: 991px)
			display: none
		ul
			padding: 0
			list-style: none
			display: flex
			justify-content: space-between
			align-items: center
			margin: 0
			li
				a
					opacity: 0.6
					color: #0e1321
					font-size: 0.875rem
					font-weight: 600
					line-height: 74px
					transition: all .75s
					display: block
					border-top: 3px solid transparent
					border-bottom: 3px solid transparent
					text-decoration: none !important
					transition: all .75s
				&:hover
					a
						opacity: 1
				&.current-menu-item, &.current-menu-parent
					a
						opacity: 1
						border-bottom: 3px solid #0094f8
	&__lang
		display: inline-block
		vertical-align: middle
		float: none
		text-align: right
		@media (max-width: 991px)
			display: none
		.mltlngg-lang-switch
			display: inline-block
			li
				display: inline-block
				background-color: transparent
				border: none
				&:hover
					button
						opacity: .6
				button
					color: #171a26
					font-family: "Myriad Hebrew"
					font-size: 0.875rem
					font-weight: 400
					line-height: 1.375rem
					outline: 0
					transition: all .75s
					img
						display: none !important
				&:after
					display: none !important
	&__contacts
		display: inline-block
		vertical-align: middle
		float: none
		@media (min-width: 1600px)
			text-align: right
		@media (max-width: 991px)
			display: none
		a
			@media (max-width: 1199px)
				padding: 0 15px
				text-align: center
				width: 100%
	&__mobi-menu
		display: none
		vertical-align: middle
		float: none
		height: 80px
		position: relative
		@media (max-width: 991px)
			display: inline-block
		@media (max-width: 767px)
			height: 60px
		a
			width: 20px
			height: 4px
			background: #171a26
			position: relative
			display: inline-block
			border-radius: 2px
			position: absolute
			top: 50%
			right: 15px
			transform: translateY(-50%)
			&:before, &:after
				content: ""
				background: #171a26
				width: 100%
				height: 4px
				display: block
				border-radius: 2px
				position: absolute
			&:before
				top: -7px
			&:after
				bottom: -7px
	&_transparent
		background-color: transparent
		.header
			&__menu
				ul
					li
						a
							color: #fff
			&__lang
				.mltlngg-lang-switch
					li
						button
							color: #fff
			&__mobi-menu
				a
					background: #fff
					&:before, &:after
						background: #fff
	&_menu-active
		background: #fff
		height: auto
		&:after
			bottom: auto
			top: 80px
			background: #f1f2f3
			@media (max-width: 767px)
				top: 60px
		.container
			width: 100%
		.header
			&__menu
				display: block
				padding: 0
				width: 100%
				ul
					display: block
					text-align: center
					li
						height: 82px
						border-bottom: 1px solid #f0f1f2
						@media (max-width: 767px)
							height: 62px
						a
							color: #a6abb2
							font-size: 0.875rem
							font-weight: 600
							line-height: 1.375rem
							display: inline-block
							line-height: 74px
							@media (max-width: 767px)
								line-height: 54px
						&:first-child
							border-top: 1px solid #f0f1f2
						&.current-menu-item, &.current-menu-parent
							a
								color: #000
			&__contacts
				display: inline-block
				padding-top: 18px
				padding-bottom: 18px
				text-align: right
				a
					width: 130px
			&__lang
				display: inline-block
				text-align: left
				.mltlngg-lang-switch
					li
						button
							color: #171a26
			&__mobi-menu
				a
					right: 30px
					background: transparent
					// position: relative
					&:before, &:after
						background: #171a26
						transform: rotate(45deg)
						transform-origin: 50% 50%
						top: 50%
						left: 50%
					&:after
						transform: rotate(-45deg)
