@font-face
	font-family: 'fontello'
	src: url('font/fontello.eot?47699872')
	src: url('font/fontello.eot?47699872#iefix') format("embedded-opentype"), url('font/fontello.woff2?47699872') format("woff2"), url('font/fontello.woff?47699872') format("woff"), url('font/fontello.ttf?47699872') format("truetype"), url('font/fontello.svg?47699872#fontello') format("svg")
	font-weight: normal
	font-style: normal
@keyframes mapDots
	from
		opacity: .8
		transform: scale(1)
	to
		opacity: 0
		transform: scale(4)

html
	font-size: 16px
	@media (min-width: 1600px)
		font-size: 18px
body
	font-family: 'Open Sans', sans-serif
	position: relative
	> *
		padding-bottom: 100px
		&:nth-child(even)
			background: #f9fbff
			&:before
				content: ""
				width: 100%
				height: 1px
				display: block
		&:last-child
			padding: 0
	> .clearfix
		padding-bottom: 0
#wpadminbar
	padding: 0

#test-image
	position: absolute
	top: 0
	left: 50%
	transform: translateX(-50%)
	opacity: .2