.button
	height: 38px
	line-height: 38px
	border-radius: 19px
	background-color: #9f9f9f
	background-image: linear-gradient(to right, #ffb300 0%, #e76d00 100%)
	display: inline-block
	color: #fff !important
	font-size: 0.875rem
	font-weight: 600
	text-align: center
	transition: all .75s
	text-decoration: none !important
	border: none
	padding: 0 32px
	&:hover
		background-image: linear-gradient(to right, #e76d00 0%, #ffb300 100%)
